.navbar {
	display: flex;
	margin-top: 100px;

	> * {
		display: flex;
	}
}

.links {
	display: flex;
	flex-direction: column;

	margin-top: 50px;
	padding-right: 30px;
	
	* {
		font-family: firaGO-bold;
		font-size: 16px;
	}

	a {
		color: black;
		text-decoration: none;

		padding: 10px 10px 10px 15px;
	}

	button {
		margin: 0;
		padding: 0;

		text-align: left;
	}

	h5 {
		margin: 0;
		font-weight: bold;
	}
}

.active {
	color: var(--bs-primary) !important;
	background-color: #8133bc25;

	border-radius: 8px;
}