.container {
	
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 50s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 14s;
}
.parallax > use:nth-child(2) {
  animation-delay: -6s;
  animation-duration: 20s;
}
.parallax > use:nth-child(3) {
  animation-delay: -8s;
  animation-duration: 26s;
}
.parallax > use:nth-child(4) {
  animation-delay: -10s;
  animation-duration: 40s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}