// -------------------------------------------------
// Tipography
// -------------------------------------------------

* {
	tab-size: 24px;
	-moz-tab-size: 24px;
}

p {
	text-align: justify;
	text-indent: 2rem;
	margin: 40px 0;
}

h1,h2, h3, h4, h5, h6 {
	color: var(--bs-primary);
}