.container {
	overflow: hidden;

	min-height: 75vh;
	width: 100vw;
	padding: 10% 0;

	display: flex;
	align-items: center;

	> * {
		width: 100%;
	}

	h1 {
		margin: 0;
	}

	h1 + div {
		font-size: 16px;
	}

	.right {
		padding-left: 40px;

		display: flex;
		align-items: center;
	}
}

.code {
	width: 100%;
	background-color: #f5f5f5 !important;

	:global {
		.hljs-keyword {
			color: #4b69c6 !important;
		}
		.hljs-string {
			color: #479551 !important;
		}
		.hljs-function {
			color: #7a86aa !important;
		}
	}
}

.features {
	position: relative;

	background-color: #F4F4F4;
	color: var(--bs-primary);

	padding: 48px 145px;
	
	@media screen and (max-width: 992px) {
		padding: 48px 45px;
	}

	&::before {
		content: "";
		background-color: var(--bs-primary);

		position: absolute;
		z-index: -1;
		width: 150%;
		height: 100%;

		left: -10%;
	}

	ol {
		list-style: none;
		counter-reset: feature-counter;
		margin-top: 45px;

		li {
			position: relative;
			counter-increment: feature-counter;

			h4 {
				margin-bottom: 5px;
			}

			> div {
				margin-bottom: 20px;
			}

			&:before {
				font-size: 40px;
				color: var(--bs-secondary);
				line-height: 40px;

				position: absolute;
				right: calc(100% + 20px);
				content: "0" counter(feature-counter) " ";
			}
		}
	}
}

.special {
	margin: 180px 0;

	> div:first-child {
		&:before {
			content: "";

			position: absolute;
			z-index: -2;

			width: 200%;
			height: 100%;

			right: -10%;
			top: 0;

			background-color: var(--bs-primary);
		}

		padding: 40px;
		color: var(--bs-white);
		position: relative;
	}

	> div:nth-child(2) {
		&:before {
			content: "";

			position: absolute;
			z-index: -1;

			width: 200%;
			height: 120%;

			left: -10%;
			top: -10%;

			background-color: #F4F4F4;
		}

		padding: 40px;
		color: var(--bs-primary);
		position: relative;
	}
}

.content {
	h2 {
		margin-bottom: 100px;
	}

	margin-bottom: 130px;
}

.partners {
	position: relative;

	background-color: #F4F4F4;
	color: var(--bs-primary);

	padding: 48px 145px;
	margin-bottom: 230px;
	
	@media screen and (max-width: 992px) {
		padding: 48px 45px;
	}

	h2 {
		margin-bottom: 80px;
	}

	&::before {
		content: "";
		background-color: var(--bs-primary);

		position: absolute;
		z-index: -1;
		width: 150%;
		height: 100%;

		left: -10%;
	}

	.img {
		width: 200px;
		height: 200px;

		background-color: white;
		border-radius: 8px;

		display: flex;
		padding: 20px;
		flex-shrink: 0;
		margin-right: 24px;

		& > * {
			width: 100%;
		}
	}
}