.links {
	a {
		color: black;
		transition: color .2s ease;
		text-decoration: none;
		position: relative;

		padding-bottom: 10px;

		&:hover {
			color: var(--bs-secondary) !important;
		}

		&:after {
			content: "";
	
			position: absolute;
			left: 0;
			bottom: 20%;
	
			width: 100%;
			height: 2px;
	
			transition: opacity .2s ease, bottom .2s ease;
			opacity: 0;
			background-color: var(--bs-secondary);
		}

		& {
			margin: 5px 7px;
		}

		&:last-child {
			margin-right: 0;
		}
	}	
}

.icons {
	font-size: 20px;

	> * {
		margin-left: 20px;
	}

	i {
		color: var(--bs-primary);
		font-size: 30px;
	}
}

.scrollbar {
	min-height: 100vh;
	width: 100vw !important;
	scroll-behavior: smooth;

	> div:nth-child(3) {
		z-index: 10;
	}
}

.logo * {
	font-weight: 600;
	font-size: 28px;
	font-family: firaGO;
}

.footer {
	background-color: #F8F8F8;
	padding: 55px 0;

	h1 {
		margin-bottom: 46px;

		span {
			font-family: firaGO-bold;
		}
	}

	h3 {
		font-weight: bold;
	}

	img {
		margin: 28px 50% 0;
	}

	ul {
		padding: 0;
		li {
			list-style: none;

			a {
				text-decoration: none;
				color: var(--bs-black);
			}
		}
	}
}

.socials {
	> * {
		font-size: 28px;
		color: var(--bs-primary) !important;
		margin-right: 15px;
	}
}

.active {	
	color: var(--bs-secondary) !important;

	&:after {
		bottom: 0 !important;

		opacity: 1 !important;
	}

	&:hover {
		color: var(--bs-secondary) !important;
	}
}
	
.backdrop {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	width: 100%;
	height: 100vh;

	top: 100%;
	left: 0;

	transition: opacity .2s ease;
	background-color: black;
}

.ham {
	display: none;
	transition: color .2s ease;
	font-size: 32px;

	margin-right: 20px;

	border: 0;
	background-color: transparent;

	&:hover {
		cursor: pointer;
		color: var(--bs-primary);
	}
}

.navbar {
	z-index: 9;
	position: fixed !important;
	width: 100vw;
	background-color: white;
	transition: box-shadow .2s ease;
}
.dettach {
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
	.ham {
		display: inline-block;
	}

	.backdrop {
		opacity: 0.5;
		z-index: 10;
	}

	.navbar {
		position: fixed !important;
		width: 100%;
		background-color: white;

		&:not(.open) {
			.links {
				height: 0% !important;
			}
	
			.backdrop {
				opacity: 0;
				pointer-events: none;
			}
		}
	
		.links {
			position: absolute;
			width: 100%;
			height: 500%;
			overflow: hidden;
			transition: height .2s ease, opacity .2s ease;
			opacity: 1;
	
			top: 100%;
			left: 0;
			z-index: 11;
	
			display: flex;
			flex-direction: column;
	
			background-color: white;
	
			> * {
				width: 100%;
	
				margin: 0;
				padding: 20px 10px;
	
				position: relative;
				display: inline-block;
			}
		}
	}
}