.card {
	color: var(--bs-primary);
	background-color: #F4F4F4;
	overflow: hidden;
	position: relative;

	padding: 30px;
	margin-bottom: 20px;
	min-height: 400px;

	border-radius: 8px;

	text-align: center;

	i:not(.background) {
		font-size: 87px;
		margin-bottom: 40px;
	}
}

.background {
	position: absolute;

	font-size: 320px;

	opacity: 0.03;

	left: 20%;
	top: 20%;
}